
#txtplacing{ 
    text-align: center;
    vertical-align: center;
}
#txtplacing{
  color: #010331;
    width: 50%;
    position: absolute;
    top: 100px; left: 400px;
}
#txttop{
    font-size: 25px;
}